.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.image {
  height: 300px;
}
.heading {
  color: #551e53;
  font-size: 28px;
  font-family: 'Roboto';
}
